<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
<!-- footer -->
<div class="busy_footer_container">
        <div class="busy_footer_head">
            <div class="express clearfix">

                    <div class="footer_head_logo">
                    	<a href=""><img src="images/font-logo.jpg" alt="Busy Sell Logo"></a>
                        <div class="footer_social_list">
                            <a class="footer_social_icon" href="#"><i></i></a>
                            <a class="footer_social_icon" href="#"><i></i></a>
                            <a class="footer_social_icon" href="#"><i></i></a>
                            <a class="footer_social_icon" href="#"><i></i></a>
                            <a class="footer_social_icon" href="#"><i></i></a>
                        </div>
                    </div>
                    <div class="footer_head_list">
                        <ul>
                            <li><a href="#">Return & Refund</a></li>
                            <li><a href="#">About Us</a></li>                            
                        </ul>
                    </div>
                    <div class="footer_head_list">
                        <ul>
                            <li><a href="#">Condition of Use</a></li>
                            <li><a href="#">Privacy Notice</a></li>
                        </ul>
                    </div>
                    <div class="footer_head_list">
                        <ul>
                            <li><a href="#">IP / Copyright / Trademark</a></li>
                        </ul>
                    </div>
                    <div class="footer_head_search">
                        <h5>Subscribe To Our Newsletter:</h5>
                        <p>get Updates,discounts,special offers and big prize</p>
                        <div class="footer_head_email clearfix">
                            <input type="text" placeholder="Please enter your email" class="footer_head_input pull-left">
                            <button class="footer_head_btn pull-left">SUBSCRIBE</button>
                            <p class="footer_head_prompt pull-left">*Please enter a valid email address.</p>
                        </div>
                    </div>

            </div>
        </div>
        <div class="busy_footer_foot">
            <div class="express clearfix"> 
              <div class="footer_copyright ">
                <p>Copyright 2014-2019 BusySell Inc. All rights reserved</p>
                <img src="https://img1.import-express.com/importcsvimg/webpic/img/wh89/busysell/busy_nell_pay.png" alt="Support payment method">
              </div>
            </div>
        </div>
</div>
<!-- footer -->

</body>
</html>
