/*通用*/
.express{margin-right:auto;margin-left:auto;padding-left:5px;padding-right:5px}
@media (min-width:768px){
    .express{width:725px}
}
@media (min-width:992px){
    .express{width:945px}
}
@media (min-width:1200px){
    .express{width:1200px}
}
.express-fluid{margin-right:auto;margin-left:auto;padding-left:5px;padding-right:5px}
.sell{margin-left:-5px;margin-right:-5px}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-justify{text-align:justify}
.text-nowrap{white-space:nowrap}
.text-lowercase{text-transform:lowercase}
.text-uppercase{text-transform:uppercase}
.text-capitalize{text-transform:capitalize}
.qwe-xs-1,
.qwe-sm-1,
.qwe-md-1,
.qwe-lg-1,
.qwe-xs-2,
.qwe-sm-2,
.qwe-md-2,
.qwe-lg-2,
.qwe-xs-3,
.qwe-sm-3,
.qwe-md-3,
.qwe-lg-3,
.qwe-xs-4,
.qwe-sm-4,
.qwe-md-4,
.qwe-lg-4,
.qwe-xs-5,
.qwe-sm-5,
.qwe-md-5,
.qwe-lg-5,
.qwe-xs-6,
.qwe-sm-6,
.qwe-md-6,
.qwe-lg-6,
.qwe-xs-7,
.qwe-sm-7,
.qwe-md-7,
.qwe-lg-7,
.qwe-xs-8,
.qwe-sm-8,
.qwe-md-8,
.qwe-lg-8,
.qwe-xs-9,
.qwe-sm-9,
.qwe-md-9,
.qwe-lg-9,
.qwe-xs-10,
.qwe-sm-10,
.qwe-md-10,
.qwe-lg-10,
.qwe-xs-11,
.qwe-sm-11,
.qwe-md-11,
.qwe-lg-11,
.qwe-xs-12,
.qwe-sm-12,
.qwe-md-12,
.qwe-lg-12,
.qwe-xs-13,
.qwe-sm-13,
.qwe-md-13,
.qwe-lg-13,
.qwe-xs-14,
.qwe-sm-14,
.qwe-md-14,
.qwe-lg-14,
.qwe-xs-15,
.qwe-sm-15,
.qwe-md-15,
.qwe-lg-15,
.qwe-xs-16,
.qwe-sm-16,
.qwe-md-16,
.qwe-lg-16,
.qwe-xs-17,
.qwe-sm-17,
.qwe-md-17,
.qwe-lg-17,
.qwe-xs-18,
.qwe-sm-18,
.qwe-md-18,
.qwe-lg-18,
.qwe-xs-19,
.qwe-sm-19,
.qwe-md-19,
.qwe-lg-19,
.qwe-xs-20,
.qwe-sm-20,
.qwe-md-20,
.qwe-lg-20 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.qwe-xs-1,
.qwe-xs-2,
.qwe-xs-3,
.qwe-xs-4,
.qwe-xs-5,
.qwe-xs-6,
.qwe-xs-7,
.qwe-xs-8,
.qwe-xs-9,
.qwe-xs-10,
.qwe-xs-11,
.qwe-xs-12,
.qwe-xs-13,
.qwe-xs-14,
.qwe-xs-15,
.qwe-xs-16,
.qwe-xs-17,
.qwe-xs-18,
.qwe-xs-19,
.qwe-xs-20 {
    float: left
}

.qwe-xs-20 {
    width: 100%
}

.qwe-xs-19 {
    width: 95%
}

.qwe-xs-18 {
    width: 90%
}

.qwe-xs-17 {
    width: 85%
}

.qwe-xs-16 {
    width: 80%
}

.qwe-xs-15 {
    width: 75%
}

.qwe-xs-14 {
    width: 70%
}

.qwe-xs-13 {
    width: 65%
}

.qwe-xs-12 {
    width: 60%
}

.qwe-xs-11 {
    width: 55%
}

.qwe-xs-10 {
    width: 50%
}

.qwe-xs-9 {
    width: 45%
}

.qwe-xs-8 {
    width: 40%
}

.qwe-xs-7 {
    width: 35%
}

.qwe-xs-6 {
    width: 30%
}

.qwe-xs-5 {
    width: 25%
}

.qwe-xs-4 {
    width: 20%
}

.qwe-xs-3 {
    width: 15%
}

.qwe-xs-2 {
    width: 10%
}

.qwe-xs-1 {
    width: 5%
}

.qwe-xs-pull-20 {
    right: 100%
}

.qwe-xs-pull-19 {
    right: 95%
}

.qwe-xs-pull-18 {
    right: 90%
}

.qwe-xs-pull-17 {
    right: 85%
}

.qwe-xs-pull-16 {
    right: 80%
}

.qwe-xs-pull-15 {
    right: 75%
}

.qwe-xs-pull-14 {
    right: 70%
}

.qwe-xs-pull-13 {
    right: 65%
}

.qwe-xs-pull-12 {
    right: 60%
}

.qwe-xs-pull-11 {
    right: 55%
}

.qwe-xs-pull-10 {
    right: 50%
}

.qwe-xs-pull-9 {
    right: 45%
}

.qwe-xs-pull-8 {
    right: 40%
}

.qwe-xs-pull-7 {
    right: 35%
}

.qwe-xs-pull-6 {
    right: 30%
}

.qwe-xs-pull-5 {
    right: 25%
}

.qwe-xs-pull-4 {
    right: 20%
}

.qwe-xs-pull-3 {
    right: 15%
}

.qwe-xs-pull-2 {
    right: 10%
}

.qwe-xs-pull-1 {
    right: 5%
}

.qwe-xs-pull-0 {
    right: auto
}

.qwe-xs-push-20 {
    left: 100%
}

.qwe-xs-push-19 {
    left: 95%
}

.qwe-xs-push-18 {
    left: 90%
}

.qwe-xs-push-17 {
    left: 85%
}

.qwe-xs-push-16 {
    left: 80%
}

.qwe-xs-push-15 {
    left: 75%
}

.qwe-xs-push-14 {
    left: 70%
}

.qwe-xs-push-13 {
    left: 65%
}

.qwe-xs-push-12 {
    left: 60%
}

.qwe-xs-push-11 {
    left: 55%
}

.qwe-xs-push-10 {
    left: 50%
}

.qwe-xs-push-9 {
    left: 45%
}

.qwe-xs-push-8 {
    left: 40%
}

.qwe-xs-push-7 {
    left: 35%
}

.qwe-xs-push-6 {
    left: 30%
}

.qwe-xs-push-5 {
    left: 25%
}

.qwe-xs-push-4 {
    left: 20%
}

.qwe-xs-push-3 {
    left: 15%
}

.qwe-xs-push-2 {
    left: 10%
}

.qwe-xs-push-1 {
    left: 5%
}

.qwe-xs-push-0 {
    left: auto
}

.qwe-xs-offset-20 {
    margin-left: 100%
}

.qwe-xs-offset-19 {
    margin-left: 95%
}

.qwe-xs-offset-18 {
    margin-left: 90%
}

.qwe-xs-offset-17 {
    margin-left: 85%
}

.qwe-xs-offset-16 {
    margin-left: 80%
}

.qwe-xs-offset-15 {
    margin-left: 75%
}

.qwe-xs-offset-14 {
    margin-left: 70%
}

.qwe-xs-offset-13 {
    margin-left: 65%
}

.qwe-xs-offset-12 {
    margin-left: 60%
}

.qwe-xs-offset-11 {
    margin-left: 55%
}

.qwe-xs-offset-10 {
    margin-left: 50%
}

.qwe-xs-offset-9 {
    margin-left: 45%
}

.qwe-xs-offset-8 {
    margin-left: 40%
}

.qwe-xs-offset-7 {
    margin-left: 35%
}

.qwe-xs-offset-6 {
    margin-left: 30%
}

.qwe-xs-offset-5 {
    margin-left: 25%
}

.qwe-xs-offset-4 {
    margin-left: 20%
}

.qwe-xs-offset-3 {
    margin-left: 15%
}

.qwe-xs-offset-2 {
    margin-left: 10%
}

.qwe-xs-offset-1 {
    margin-left: 5%
}

.qwe-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {
    .qwe-sm-1,
    .qwe-sm-2,
    .qwe-sm-3,
    .qwe-sm-4,
    .qwe-sm-5,
    .qwe-sm-6,
    .qwe-sm-7,
    .qwe-sm-8,
    .qwe-sm-9,
    .qwe-sm-10,
    .qwe-sm-11,
    .qwe-sm-12,
    .qwe-sm-13,
    .qwe-sm-14,
    .qwe-sm-15,
    .qwe-sm-16,
    .qwe-sm-17,
    .qwe-sm-18,
    .qwe-sm-19,
    .qwe-sm-20 {
        float: left
    }

    .qwe-sm-20 {
        width: 100%
    }

    .qwe-sm-19 {
        width: 95%
    }

    .qwe-sm-18 {
        width: 90%
    }

    .qwe-sm-17 {
        width: 85%
    }

    .qwe-sm-16 {
        width: 80%
    }

    .qwe-sm-15 {
        width: 75%
    }

    .qwe-sm-14 {
        width: 70%
    }

    .qwe-sm-13 {
        width: 65%
    }

    .qwe-sm-12 {
        width: 60%
    }

    .qwe-sm-11 {
        width: 55%
    }

    .qwe-sm-10 {
        width: 50%
    }

    .qwe-sm-9 {
        width: 45%
    }

    .qwe-sm-8 {
        width: 40%
    }

    .qwe-sm-7 {
        width: 35%
    }

    .qwe-sm-6 {
        width: 30%
    }

    .qwe-sm-5 {
        width: 25%
    }

    .qwe-sm-4 {
        width: 20%
    }

    .qwe-sm-3 {
        width: 15%
    }

    .qwe-sm-2 {
        width: 10%
    }

    .qwe-sm-1 {
        width: 5%
    }

    .qwe-sm-pull-20 {
        right: 100%
    }

    .qwe-sm-pull-19 {
        right: 95%
    }

    .qwe-sm-pull-18 {
        right: 90%
    }

    .qwe-sm-pull-17 {
        right: 85%
    }

    .qwe-sm-pull-16 {
        right: 80%
    }

    .qwe-sm-pull-15 {
        right: 75%
    }

    .qwe-sm-pull-14 {
        right: 70%
    }

    .qwe-sm-pull-13 {
        right: 65%
    }

    .qwe-sm-pull-12 {
        right: 60%
    }

    .qwe-sm-pull-11 {
        right: 55%
    }

    .qwe-sm-pull-10 {
        right: 50%
    }

    .qwe-sm-pull-9 {
        right: 45%
    }

    .qwe-sm-pull-8 {
        right: 40%
    }

    .qwe-sm-pull-7 {
        right: 35%
    }

    .qwe-sm-pull-6 {
        right: 30%
    }

    .qwe-sm-pull-5 {
        right: 25%
    }

    .qwe-sm-pull-4 {
        right: 20%
    }

    .qwe-sm-pull-3 {
        right: 15%
    }

    .qwe-sm-pull-2 {
        right: 10%
    }

    .qwe-sm-pull-1 {
        right: 5%
    }

    .qwe-sm-pull-0 {
        right: auto
    }

    .qwe-sm-push-20 {
        left: 100%
    }

    .qwe-sm-push-19 {
        left: 95%
    }

    .qwe-sm-push-18 {
        left: 90%
    }

    .qwe-sm-push-17 {
        left: 85%
    }

    .qwe-sm-push-16 {
        left: 80%
    }

    .qwe-sm-push-15 {
        left: 75%
    }

    .qwe-sm-push-14 {
        left: 70%
    }

    .qwe-sm-push-13 {
        left: 65%
    }

    .qwe-sm-push-12 {
        left: 60%
    }

    .qwe-sm-push-11 {
        left: 55%
    }

    .qwe-sm-push-10 {
        left: 50%
    }

    .qwe-sm-push-9 {
        left: 45%
    }

    .qwe-sm-push-8 {
        left: 40%
    }

    .qwe-sm-push-7 {
        left: 35%
    }

    .qwe-sm-push-6 {
        left: 30%
    }

    .qwe-sm-push-5 {
        left: 25%
    }

    .qwe-sm-push-4 {
        left: 20%
    }

    .qwe-sm-push-3 {
        left: 15%
    }

    .qwe-sm-push-2 {
        left: 10%
    }

    .qwe-sm-push-1 {
        left: 5%
    }

    .qwe-sm-push-0 {
        left: auto
    }

    .qwe-sm-offset-20 {
        margin-left: 100%
    }

    .qwe-sm-offset-19 {
        margin-left: 95%
    }

    .qwe-sm-offset-18 {
        margin-left: 90%
    }

    .qwe-sm-offset-17 {
        margin-left: 85%
    }

    .qwe-sm-offset-16 {
        margin-left: 80%
    }

    .qwe-sm-offset-15 {
        margin-left: 75%
    }

    .qwe-sm-offset-14 {
        margin-left: 70%
    }

    .qwe-sm-offset-13 {
        margin-left: 65%
    }

    .qwe-sm-offset-12 {
        margin-left: 60%
    }

    .qwe-sm-offset-11 {
        margin-left: 55%
    }

    .qwe-sm-offset-10 {
        margin-left: 50%
    }

    .qwe-sm-offset-9 {
        margin-left: 45%
    }

    .qwe-sm-offset-8 {
        margin-left: 40%
    }

    .qwe-sm-offset-7 {
        margin-left: 35%
    }

    .qwe-sm-offset-6 {
        margin-left: 30%
    }

    .qwe-sm-offset-5 {
        margin-left: 25%
    }

    .qwe-sm-offset-4 {
        margin-left: 20%
    }

    .qwe-sm-offset-3 {
        margin-left: 15%
    }

    .qwe-sm-offset-2 {
        margin-left: 10%
    }

    .qwe-sm-offset-1 {
        margin-left: 5%
    }

    .qwe-sm-offset-0 {
        margin-left: 0
    }

}

@media (min-width:992px) {
    .qwe-md-1,
    .qwe-md-2,
    .qwe-md-3,
    .qwe-md-4,
    .qwe-md-5,
    .qwe-md-6,
    .qwe-md-7,
    .qwe-md-8,
    .qwe-md-9,
    .qwe-md-10,
    .qwe-md-11,
    .qwe-md-12,
    .qwe-md-13,
    .qwe-md-14,
    .qwe-md-15,
    .qwe-md-16,
    .qwe-md-17,
    .qwe-md-18,
    .qwe-md-19,
    .qwe-md-20 {
        float: left
    }

    .qwe-md-20 {
        width: 100%
    }

    .qwe-md-19 {
        width: 95%
    }

    .qwe-md-18 {
        width: 90%
    }

    .qwe-md-17 {
        width: 85%
    }

    .qwe-md-16 {
        width: 80%
    }

    .qwe-md-15 {
        width: 75%
    }

    .qwe-md-14 {
        width: 70%
    }

    .qwe-md-13 {
        width: 65%
    }

    .qwe-md-12 {
        width: 60%
    }

    .qwe-md-11 {
        width: 55%
    }

    .qwe-md-10 {
        width: 50%
    }

    .qwe-md-9 {
        width: 45%
    }

    .qwe-md-8 {
        width: 40%
    }

    .qwe-md-7 {
        width: 35%
    }

    .qwe-md-6 {
        width: 30%
    }

    .qwe-md-5 {
        width: 25%
    }

    .qwe-md-4 {
        width: 20%
    }

    .qwe-md-3 {
        width: 15%
    }

    .qwe-md-2 {
        width: 10%
    }

    .qwe-md-1 {
        width: 5%
    }

    .qwe-md-pull-20 {
        right: 100%
    }

    .qwe-md-pull-19 {
        right: 95%
    }

    .qwe-md-pull-18 {
        right: 90%
    }

    .qwe-md-pull-17 {
        right: 85%
    }

    .qwe-md-pull-16 {
        right: 80%
    }

    .qwe-md-pull-15 {
        right: 75%
    }

    .qwe-md-pull-14 {
        right: 70%
    }

    .qwe-md-pull-13 {
        right: 65%
    }

    .qwe-md-pull-12 {
        right: 60%
    }

    .qwe-md-pull-11 {
        right: 55%
    }

    .qwe-md-pull-10 {
        right: 50%
    }

    .qwe-md-pull-9 {
        right: 45%
    }

    .qwe-md-pull-8 {
        right: 40%
    }

    .qwe-md-pull-7 {
        right: 35%
    }

    .qwe-md-pull-6 {
        right: 30%
    }

    .qwe-md-pull-5 {
        right: 25%
    }

    .qwe-md-pull-4 {
        right: 20%
    }

    .qwe-md-pull-3 {
        right: 15%
    }

    .qwe-md-pull-2 {
        right: 10%
    }

    .qwe-md-pull-1 {
        right: 5%
    }

    .qwe-md-pull-0 {
        right: auto
    }

    .qwe-md-push-20 {
        left: 100%
    }

    .qwe-md-push-19 {
        left: 95%
    }

    .qwe-md-push-18 {
        left: 90%
    }

    .qwe-md-push-17 {
        left: 85%
    }

    .qwe-md-push-16 {
        left: 80%
    }

    .qwe-md-push-15 {
        left: 75%
    }

    .qwe-md-push-14 {
        left: 70%
    }

    .qwe-md-push-13 {
        left: 65%
    }

    .qwe-md-push-12 {
        left: 60%
    }

    .qwe-md-push-11 {
        left: 55%
    }

    .qwe-md-push-10 {
        left: 50%
    }

    .qwe-md-push-9 {
        left: 45%
    }

    .qwe-md-push-8 {
        left: 40%
    }

    .qwe-md-push-7 {
        left: 35%
    }

    .qwe-md-push-6 {
        left: 30%
    }

    .qwe-md-push-5 {
        left: 25%
    }

    .qwe-md-push-4 {
        left: 20%
    }

    .qwe-md-push-3 {
        left: 15%
    }

    .qwe-md-push-2 {
        left: 10%
    }

    .qwe-md-push-1 {
        left: 5%
    }

    .qwe-md-push-0 {
        left: auto
    }

    .qwe-md-offset-20 {
        margin-left: 100%
    }

    .qwe-md-offset-19 {
        margin-left: 95%
    }

    .qwe-md-offset-18 {
        margin-left: 90%
    }

    .qwe-md-offset-17 {
        margin-left: 85%
    }

    .qwe-md-offset-16 {
        margin-left: 80%
    }

    .qwe-md-offset-15 {
        margin-left: 75%
    }

    .qwe-md-offset-14 {
        margin-left: 70%
    }

    .qwe-md-offset-13 {
        margin-left: 65%
    }

    .qwe-md-offset-12 {
        margin-left: 60%
    }

    .qwe-md-offset-11 {
        margin-left: 55%
    }

    .qwe-md-offset-10 {
        margin-left: 50%
    }

    .qwe-md-offset-9 {
        margin-left: 45%
    }

    .qwe-md-offset-8 {
        margin-left: 40%
    }

    .qwe-md-offset-7 {
        margin-left: 35%
    }

    .qwe-md-offset-6 {
        margin-left: 30%
    }

    .qwe-md-offset-5 {
        margin-left: 25%
    }

    .qwe-md-offset-4 {
        margin-left: 20%
    }

    .qwe-md-offset-3 {
        margin-left: 15%
    }

    .qwe-md-offset-2 {
        margin-left: 10%
    }

    .qwe-md-offset-1 {
        margin-left: 5%
    }

    .qwe-md-offset-0 {
        margin-left: 0
    }

}

@media (min-width:1200px) {
    .qwe-lg-1,
    .qwe-lg-2,
    .qwe-lg-3,
    .qwe-lg-4,
    .qwe-lg-5,
    .qwe-lg-6,
    .qwe-lg-7,
    .qwe-lg-8,
    .qwe-lg-9,
    .qwe-lg-10,
    .qwe-lg-11,
    .qwe-lg-12,
    .qwe-lg-13,
    .qwe-lg-14,
    .qwe-lg-15,
    .qwe-lg-16,
    .qwe-lg-17,
    .qwe-lg-18,
    .qwe-lg-19,
    .qwe-lg-20 {
        float: left
    }

    .qwe-lg-20 {
        width: 100%
    }

    .qwe-lg-19 {
        width: 95%
    }

    .qwe-lg-18 {
        width: 90%
    }

    .qwe-lg-17 {
        width: 85%
    }

    .qwe-lg-16 {
        width: 80%
    }

    .qwe-lg-15 {
        width: 75%
    }

    .qwe-lg-14 {
        width: 70%
    }

    .qwe-lg-13 {
        width: 65%
    }

    .qwe-lg-12 {
        width: 60%
    }

    .qwe-lg-11 {
        width: 55%
    }

    .qwe-lg-10 {
        width: 50%
    }

    .qwe-lg-9 {
        width: 45%
    }

    .qwe-lg-8 {
        width: 40%
    }

    .qwe-lg-7 {
        width: 35%
    }

    .qwe-lg-6 {
        width: 30%
    }

    .qwe-lg-5 {
        width: 25%
    }

    .qwe-lg-4 {
        width: 20%
    }

    .qwe-lg-3 {
        width: 15%
    }

    .qwe-lg-2 {
        width: 10%
    }

    .qwe-lg-1 {
        width: 5%
    }

    .qwe-lg-pull-20 {
        right: 100%
    }

    .qwe-lg-pull-19 {
        right: 95%
    }

    .qwe-lg-pull-18 {
        right: 90%
    }

    .qwe-lg-pull-17 {
        right: 85%
    }

    .qwe-lg-pull-16 {
        right: 80%
    }

    .qwe-lg-pull-15 {
        right: 75%
    }

    .qwe-lg-pull-14 {
        right: 70%
    }

    .qwe-lg-pull-13 {
        right: 65%
    }

    .qwe-lg-pull-12 {
        right: 60%
    }

    .qwe-lg-pull-11 {
        right: 55%
    }

    .qwe-lg-pull-10 {
        right: 50%
    }

    .qwe-lg-pull-9 {
        right: 45%
    }

    .qwe-lg-pull-8 {
        right: 40%
    }

    .qwe-lg-pull-7 {
        right: 35%
    }

    .qwe-lg-pull-6 {
        right: 30%
    }

    .qwe-lg-pull-5 {
        right: 25%
    }

    .qwe-lg-pull-4 {
        right: 20%
    }

    .qwe-lg-pull-3 {
        right: 15%
    }

    .qwe-lg-pull-2 {
        right: 10%
    }

    .qwe-lg-pull-1 {
        right: 5%
    }

    .qwe-lg-pull-0 {
        right: auto
    }

    .qwe-lg-push-20 {
        left: 100%
    }

    .qwe-lg-push-19 {
        left: 95%
    }

    .qwe-lg-push-18 {
        left: 90%
    }

    .qwe-lg-push-17 {
        left: 85%
    }

    .qwe-lg-push-16 {
        left: 80%
    }

    .qwe-lg-push-15 {
        left: 75%
    }

    .qwe-lg-push-14 {
        left: 70%
    }

    .qwe-lg-push-13 {
        left: 65%
    }

    .qwe-lg-push-12 {
        left: 60%
    }

    .qwe-lg-push-11 {
        left: 55%
    }

    .qwe-lg-push-10 {
        left: 50%
    }

    .qwe-lg-push-9 {
        left: 45%
    }

    .qwe-lg-push-8 {
        left: 40%
    }

    .qwe-lg-push-7 {
        left: 35%
    }

    .qwe-lg-push-6 {
        left: 30%
    }

    .qwe-lg-push-5 {
        left: 25%
    }

    .qwe-lg-push-4 {
        left: 20%
    }

    .qwe-lg-push-3 {
        left: 15%
    }

    .qwe-lg-push-2 {
        left: 10%
    }

    .qwe-lg-push-1 {
        left: 5%
    }

    .qwe-lg-push-0 {
        left: auto
    }

    .qwe-lg-offset-20 {
        margin-left: 100%
    }

    .qwe-lg-offset-19 {
        margin-left: 95%
    }

    .qwe-lg-offset-18 {
        margin-left: 90%
    }

    .qwe-lg-offset-17 {
        margin-left: 85%
    }

    .qwe-lg-offset-16 {
        margin-left: 80%
    }

    .qwe-lg-offset-15 {
        margin-left: 75%
    }

    .qwe-lg-offset-14 {
        margin-left: 70%
    }

    .qwe-lg-offset-13 {
        margin-left: 65%
    }

    .qwe-lg-offset-12 {
        margin-left: 60%
    }

    .qwe-lg-offset-11 {
        margin-left: 55%
    }

    .qwe-lg-offset-10 {
        margin-left: 50%
    }

    .qwe-lg-offset-9 {
        margin-left: 45%
    }

    .qwe-lg-offset-8 {
        margin-left: 40%
    }

    .qwe-lg-offset-7 {
        margin-left: 35%
    }

    .qwe-lg-offset-6 {
        margin-left: 30%
    }

    .qwe-lg-offset-5 {
        margin-left: 25%
    }

    .qwe-lg-offset-4 {
        margin-left: 20%
    }

    .qwe-lg-offset-3 {
        margin-left: 15%
    }

    .qwe-lg-offset-2 {
        margin-left: 10%
    }

    .qwe-lg-offset-1 {
        margin-left: 5%
    }

    .qwe-lg-offset-0 {
        margin-left: 0
    }

}
.clearfix:before,.clearfix:after,.express:before,.express:after,.express-fluid:before,.express-fluid:after,.sell:before,.sell:after{content:" ";display:table;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
.clearfix:after,.express:after,.express-fluid:after,.sell:after{clear:both}
.util_clearfix:after{visibility:hidden;display:block;height:0;font-size:0;content:'\0020';clear:both}.util_clearfix{zoom:1}
.center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.invisible{visibility:hidden}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.hidden{display:none!important}
.affix{position:fixed}
.center_position{position:absolute;right:0;top:0;left:0;bottom:0;margin:auto}
.rotate_180{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}

/*公用类名*/
.mg_20{margin-top: 20px;}
.view_more_content{    padding-top: 0;
    display: none;
    out-line: none;}
.view_less_content{    padding-top: 0;
    display: block;
    out-line: none;}
.pull-left{ float: left!important; }
.pull-right{ float: right!important; }
.busy_sheet_bg{ background-color: #f7f7f7; padding-bottom: 30px; }

/*list_advert*/
.list_advert{    height: 135px;
    background-color: #BD001D;}
.list_advert_box{    width: 66%;    height: 100%;
    margin: 0 auto;}
.advert_content{padding-top: 30px;}
.advert_content span{font-size: 18px;
    color: #fff;}
.advert_content h2{font-size: 30px; color: #fff; margin-top: 6px;}
.advert_img{height: 100%;
    overflow: hidden;}
.advert_img img{height:100%; float: left;}
.advert_img a{display:inline-block;font-size: 12px;
    font-weight: 600;
    color: #1A1A1A;
    padding: 13px 39px;
    background-color: #fff;
    border-radius: 22px;    cursor: pointer; margin-top: 50px;}
.advert_img a:hover{color:#e02a2a;}

/*主体部分*/
.list_express{padding: 0 17%;margin-bottom: 10px;position: relative;}

/*中间列表*/
.list_main{max-width: 1385px;min-width: 720px; margin:0 auto; border:none;}

/*sprite_sort*/
.sprite_sort{position:relative;    margin-top: 20px;
    margin-bottom: 10px;}
.list_sprite_box{line-height: 35px;}
.crumbs_list a:hover{ color: #bf3666; }
.input_sort_box{    position: absolute;
    right: 0;
    top: 0;
    line-height: 34px;
    z-index: 40;}
.input_sort_box>span{    margin-right: 15px;}
.sort_selector{position: relative;
    display: inline-block;
    width: 185px;}
.j_toggle_menu{position: relative;}
.dropdown_toggle{    position: relative;
    height: 34px;
    line-height: 34px;
    border: 1px solid #ccc;
    width: 95.5%;
    display: inline-block;
    background: #fff;
    padding: 0 17px;    cursor: pointer;}
.j_dropsort_title{font-size: 14px;  color: #333;}
.icon_jiantou_copy{ width: 5px;
    height: 6px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    background-image: url(https://img1.import-express.com/importcsvimg/webpic/img/wh89/busysell/busy_sell.png);
    background-repeat: no-repeat;
    background-position: -236px -9px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;}
.icon_jiantou_up{-webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);}

.dropdown_menu{    display: none;z-index: 40;
    position: absolute;
    top: 34px;
    left: 0;
    width: 95.5%;
    border: 1px solid #ccc;
    border-top: 0;
    color: #999;
    background: #fff;
    max-height: 300px;
    /*overflow-y: scroll;*/}
.j_dropsort_list{    height: 30px;
    border-bottom: 1px solid #fafafa;}
.j_dropsort_list a{display: block;width:100%;height:100%;    line-height: 30px;
    padding: 0 17px;cursor:pointer;}
.j_dropsort_list a:hover{color: #e02a2a;}
/*sprite_sort end*/

/*refine_select*/
.refine_select{}
.refine_select_list{display: inline-block;}
.refine_item{  display: inline-block;}
.refine_item a{display: block;   background-color: #D0D0D0;  padding: 4px 15px;  border-radius: 2px;}
.refine_item a span{    color: #fff;  font-size: 13px;}
.refine_item a i,.clear_all_select i{ display: inline-block;width: 7px;  height: 7px;  background-image: url(https://img1.import-express.com/importcsvimg/webpic/img/wh89/busysell/busy_sell.png);  background-repeat: no-repeat;   background-position: -236px -29px;}
.refine_item a i{margin-left:10px;}
.refine_item a:hover{background-color: #fff;}
.refine_item a:hover span{color: #999999;}
.refine_item a:hover i{background-position: -280px -85px;}
.clear_all_select{display: inline-block;}
.clear_all_select a{display: inline-block; border: 1px solid #000; border-radius: 14px;  padding: 3px 18px 3px 17px; margin-left: 12px;cursor: pointer;}
.clear_all_select i{margin-right:6px; font-size: 15px;}
.clear_all_select span{display: inline-block;color:#333;font-size:12px;font-weight:600;-webkit-transform: scale(0.85);-moz-transform: scale(0.85);-o-transform: scale(0.85);-ms-transform: scale(0.85);transform: scale(0.85);}
/*.clear_all_select a:hover{background:#ff3f12;}
.clear_all_select a:hover span{color:#fff;}
.clear_all_select a:hover i{color:#fff;background-position: -280px -101px;}*/
/*refine_select end*/

/*products_content 商品列表*/
.products_content{}
.products_content ul{ position: relative;margin:0;}
.product_item{border: 1px solid #ccc;
    min-height: 427px;
    padding: 0;
    float: left;
    clear: none;
    border: none;margin-bottom: 26px;}
.p_item{    min-height: 370px;
    position: absolute;
    left: 50%;
    margin-left: -146px;
    padding: 0 14px 15px 14px;
    background-color: #FFF;border: 1px solid #fff;}
.product_item:hover .p_item{border-color:#f40;}
.p_img_border{width: 263px;
    text-align: center;
    position: relative;
    height: 293px;
    margin: 0 auto;
    float: none;
    border: 0;}
.p_pic{    display: table-cell;
    border: none;
    width: 263px;
    height: 293px;
    _height: 205px;
    vertical-align: middle;
    overflow: hidden;}
.p_pic>a{}
.p_pic>a img{    max-width: 220px;
    max-height: 220px;}
.p_goods_name{white-space: normal;
    line-height: 16px;
    width: 263px;
    min-height: 32px;
    height: 32px;
    overflow: hidden;
    margin-top: 11px;
    margin-bottom: 13px;}
.p_goods_name a{    color: #282828;
    font-size: 14px;}
.p_goods_price{    width: auto;}
.p_goods_price span{color: #282828;
    font-size: 18px;
    font-weight: 600;}
.p_goods_shipping{    width: auto;    margin-top: 13px;}
.p_goods_shipping i{display: inline-block;width: 24px;
    height: 16px;
    background-image: url(https://img1.import-express.com/importcsvimg/webpic/img/wh89/busysell/busy_sell.png);
    background-repeat: no-repeat;
    background-position: -255px -39px;    vertical-align: sub;}
.p_price_num{    font-size: 12px;
    color: #31BA1F;
    font-weight: 600;}
.prefer_sell,.prefer_new{position: absolute;
    top: 7px;
    left: 9px;}
.prefer_sell span,.prefer_new span{color: #fff;
    font-size: 12px;
    border-radius: 9px;
    padding: 2px 10px;
    background-color: #FF2211;}
.prefer_new span{background-color: #8FD01F;}

/*products_content 商品列表end*/


/*侧栏*/
.list_sidebar{width: 14%;min-width:200px;position: absolute; left: 30px;   top: 0; }
.list_sidebar_box{width: 100%;  z-index: 1;  will-change: transform; background: #fff;border:none;}
.sidebar{ margin-top: 10px;}
.sidebar_name{padding: 7px 13px 7px 29px;    position: relative;  border-bottom: 1px solid #DCDCDC;}
.sidebar_name span{    font-size: 14px;
    color: #333333;
    font-weight: 600;}
.sidebar_icon{
    padding: 0 10px;
    position: absolute;
    right: 20px;
    top: 9px;
    cursor: pointer;
}
.sidebar_icon i{
    height: 16px;
    width: 2px;
    display: inline-block;
    position: relative;
    background-color: #A5A5A5;-webkit-transform: rotateZ(90deg);-moz-transform: rotateZ(90deg);-ms-transform: rotateZ(90deg);-o-transform: rotateZ(90deg);transform: rotateZ(90deg);
}
i.plus_icon:after{background-color: #A5A5A5;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    -webkit-transform: rotateZ(90deg);-moz-transform: rotateZ(90deg);-ms-transform: rotateZ(90deg);-o-transform: rotateZ(90deg);transform: rotateZ(90deg);
}
.sidebar_icon:hover i,.sidebar_icon:hover i.plus_icon:after{background-color: #FF4E3C;}
.sidebar_list{    padding: 7px 13px 0 29px;}
.sidebar_list li{    line-height: 32px;}
.sidebar_list li dt{font-size: 14px; color: #333333; font-weight:500;}
.side_jian_right{    float: right;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: -5px;cursor: pointer;}
.side_jian_right:after{content:"";display: inline-block;width: 4px;
    height: 6px;
    background-image: url(https://img1.import-express.com/importcsvimg/webpic/img/wh89/busysell/busy_sell.png);
    background-repeat: no-repeat;
    background-position: -236px -9px;    vertical-align: middle;}
.side_jian_down{transition: all 5s;}
.side_jian_down:after{width: 6px;height: 4px;background-position: -236px -20px;}
.sidebar_list li dl{display:none;    margin-top: 15px;}
.sidebar_list dl.attribute_item{display:block;}
.commen_select_box{border-left: 1px solid #CCCCCC;
    padding-left: 10px;}
.commen_select li,.commen_select_more li{line-height: 15px;
    padding-bottom: 13px;}
.commen_select li:last-child,.commen_select_more li:last-child{padding-bottom: 0;}
.commen_select_more li:first-child{padding-top: 13px;}
.commen_select li a,.commen_select_more li a{color:#979797;font-size: 13px;}
.commen_select li a:hover,.commen_select_more li a:hover{color:#000; text-decoration: underline; font-weight: bold;}
.view_more_box{margin-top: 15px;
    margin-bottom: 10px;}
.view_more_btn{color: #E02A2A;}
.view_more_btn:hover{color: #E02A2A;text-decoration:underline;}

.search_range{    margin-bottom: 14px;}
.price_range{    padding: 7px 0;}
.check_item{margin: 3px 0;
    padding-top: 5px;padding-bottom: 4px;
    padding-left: 44px;
    position: relative;
    }
.check_item a{font-size: 14px;
    color: #333333;}
.check_icon{    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #B6B6B6;
    border-radius: 2px;
    margin-left: 20px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 8px;}
.search_range em{font-size: 14px;
    color: #333333;}
.search_range em:first-child{    margin-left: 20px;margin-right:3px;}
.search_range input{    width: 40px;
    height: 26px;
    line-height: 26px;font-size: 12px;
    border: 1px solid #6C6C6C;
    border-radius: 2px;    background-color: #fff;
    padding-left: 3px;
    }
.search_range .low_price:focus,.search_range .high_price:focus{outline-color: #b90101;border: 1px solid #b90101;box-shadow: 0 0 1px #b90101; -webkit-box-shadow: 0 0 1px #b90101; -moz-box-shadow: 0 0 1px #b90101; -ms-box-shadow: 0 0 1px #b90101;}

.low_price{    margin-right: 6px;}
.high_price{margin-left: 6px;margin-right: 6px;}
.go_search_btn{color: #E02A2A;
    font-size: 14px;
    font-weight: 600;}

.color_sort_list{    padding: 7px 13px 0 29px;}
.color_sort_list li{line-height: 32px;}
.color_sort_list li a{font-size: 14px;
    color: #333333;}
.view_more_color{    margin-top: 6px;
    margin-bottom: 10px;padding-left: 29px;}

.search_range .check_item label{ font-size: 14px; color: #333; font-weight: 400; }
.search_range .check_item .check_icon{display: inline-block;  width: 14px; height: 14px; border: 1px solid #B6B6B6; border-radius: 2px;
    margin-left: 20px; vertical-align: middle; position: absolute;  left: 0; top: 4px;}


/*翻页部分*/
.pagation_bottom{width:100%;height: 50px;text-align: center;background-color: #fff;}
.page_box{    height: 100%;padding: 10px 0;}
.page_box span,.page_box a{    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #EFEFEF;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;}
.page_box a{color:#666;font-size:14px;font-weight:600;}
.page_box a:hover,.ui_pagination_prev:hover{color:#fff;border-color: #bf3666;background-color:#bf3666;}
.ui_pagination_prev {
    text-indent: -9999px;
    position: relative;margin-right: 10px;
}
.ui_pagination_prev::before {
    display: inline-block;
    content: ' ';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -3px;
    margin-left: -3px;
    border: 2px solid #8E8E8E;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-top: none;
    border-right: none;
}
.ui_pagination_next {
    display: inline-flex;
    text-indent: -9999px;
    white-space: inherit;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
}
.ui_pagination_next::after {
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    margin-top: -3px;
    margin-left: -3px;
    content: ' ';
    border: 2px solid #8E8E8E;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
}
.ui_pagination_next:hover::after,.ui_pagination_prev:hover::before{border-color:#fff;}
.page_box .ui_pagination_active{color: #000;background-color: #F4F4F4;cursor: default;}
.page_box .ui_pagination_disabled{    background-color: #F4F4F4;    cursor: default;}
.page_box .ui_pagination_disabled:hover{background-color: #F4F4F4;border: 1px solid #EFEFEF;}
.ui_pagination_disabled:hover::before,.ui_pagination_disabled:hover::after{border-color:#8E8E8E;}
span.page_omit{color:#303030;font-weight: 600;border: 1px solid #fff;    line-height: 20px;    cursor: context-menu;}

/*主体部分 end*/

@media screen and (min-width: 678px) and (max-width: 1200px) {

}
@media screen and (min-width: 1200px) and (max-width: 1560px) {
    .products_content .product_item{width: 33.33%;}
}
@media screen and (min-width: 1599px) and (max-width: 1819px) {
    /*.list_express {padding: 0 20px 0 20%;}*/
    /*.list_sidebar{width: 17%;left: 20px;}*/
}
@media screen and (min-width: 1024px) and (max-width: 1819px) {
    .list_express{padding: 0 20px 0 22%;}
    /*.list_sidebar{width: 17%;left: 20px;}*/
}

@media (max-width: 1820px){

    .products_content ul {
        /*margin-left: 0;
        margin-right: 0;*/
    }
    .list_sidebar{width: 18%;left: 20px;}
}
@media (max-width: 1350px){
    .advert_content{    padding-left: 0;}
}
@media (max-width: 1072px){
    .list_advert_box{width: 96%;}
}
@media (max-width: 1023px){
    .list_express{padding: 0 0 0 225px;}
}
@media (max-width: 864px){
    .advert_img img{display:none;}
    .advert_img a{    margin-top: 45px;}
}










