/*通用*/
.express{margin-right:auto;margin-left:auto;padding-left:5px;padding-right:5px}
@media (min-width:768px){
    .express{width:725px}
}
@media (min-width:992px){
    .express{width:945px}
}
@media (min-width:1200px){
    .express{width:1200px}
}
.express-fluid{margin-right:auto;margin-left:auto;padding-left:5px;padding-right:5px}
.sell{margin-left:-5px;margin-right:-5px}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-justify{text-align:justify}
.text-nowrap{white-space:nowrap}
.text-lowercase{text-transform:lowercase}
.text-uppercase{text-transform:uppercase}
.text-capitalize{text-transform:capitalize}
.qwe-xs-1,
.qwe-sm-1,
.qwe-md-1,
.qwe-lg-1,
.qwe-xs-2,
.qwe-sm-2,
.qwe-md-2,
.qwe-lg-2,
.qwe-xs-3,
.qwe-sm-3,
.qwe-md-3,
.qwe-lg-3,
.qwe-xs-4,
.qwe-sm-4,
.qwe-md-4,
.qwe-lg-4,
.qwe-xs-5,
.qwe-sm-5,
.qwe-md-5,
.qwe-lg-5,
.qwe-xs-6,
.qwe-sm-6,
.qwe-md-6,
.qwe-lg-6,
.qwe-xs-7,
.qwe-sm-7,
.qwe-md-7,
.qwe-lg-7,
.qwe-xs-8,
.qwe-sm-8,
.qwe-md-8,
.qwe-lg-8,
.qwe-xs-9,
.qwe-sm-9,
.qwe-md-9,
.qwe-lg-9,
.qwe-xs-10,
.qwe-sm-10,
.qwe-md-10,
.qwe-lg-10,
.qwe-xs-11,
.qwe-sm-11,
.qwe-md-11,
.qwe-lg-11,
.qwe-xs-12,
.qwe-sm-12,
.qwe-md-12,
.qwe-lg-12,
.qwe-xs-13,
.qwe-sm-13,
.qwe-md-13,
.qwe-lg-13,
.qwe-xs-14,
.qwe-sm-14,
.qwe-md-14,
.qwe-lg-14,
.qwe-xs-15,
.qwe-sm-15,
.qwe-md-15,
.qwe-lg-15,
.qwe-xs-16,
.qwe-sm-16,
.qwe-md-16,
.qwe-lg-16,
.qwe-xs-17,
.qwe-sm-17,
.qwe-md-17,
.qwe-lg-17,
.qwe-xs-18,
.qwe-sm-18,
.qwe-md-18,
.qwe-lg-18,
.qwe-xs-19,
.qwe-sm-19,
.qwe-md-19,
.qwe-lg-19,
.qwe-xs-20,
.qwe-sm-20,
.qwe-md-20,
.qwe-lg-20 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px
}

.qwe-xs-1,
.qwe-xs-2,
.qwe-xs-3,
.qwe-xs-4,
.qwe-xs-5,
.qwe-xs-6,
.qwe-xs-7,
.qwe-xs-8,
.qwe-xs-9,
.qwe-xs-10,
.qwe-xs-11,
.qwe-xs-12,
.qwe-xs-13,
.qwe-xs-14,
.qwe-xs-15,
.qwe-xs-16,
.qwe-xs-17,
.qwe-xs-18,
.qwe-xs-19,
.qwe-xs-20 {
    float: left
}

.qwe-xs-20 {
    width: 100%
}

.qwe-xs-19 {
    width: 95%
}

.qwe-xs-18 {
    width: 90%
}

.qwe-xs-17 {
    width: 85%
}

.qwe-xs-16 {
    width: 80%
}

.qwe-xs-15 {
    width: 75%
}

.qwe-xs-14 {
    width: 70%
}

.qwe-xs-13 {
    width: 65%
}

.qwe-xs-12 {
    width: 60%
}

.qwe-xs-11 {
    width: 55%
}

.qwe-xs-10 {
    width: 50%
}

.qwe-xs-9 {
    width: 45%
}

.qwe-xs-8 {
    width: 40%
}

.qwe-xs-7 {
    width: 35%
}

.qwe-xs-6 {
    width: 30%
}

.qwe-xs-5 {
    width: 25%
}

.qwe-xs-4 {
    width: 20%
}

.qwe-xs-3 {
    width: 15%
}

.qwe-xs-2 {
    width: 10%
}

.qwe-xs-1 {
    width: 5%
}

.qwe-xs-pull-20 {
    right: 100%
}

.qwe-xs-pull-19 {
    right: 95%
}

.qwe-xs-pull-18 {
    right: 90%
}

.qwe-xs-pull-17 {
    right: 85%
}

.qwe-xs-pull-16 {
    right: 80%
}

.qwe-xs-pull-15 {
    right: 75%
}

.qwe-xs-pull-14 {
    right: 70%
}

.qwe-xs-pull-13 {
    right: 65%
}

.qwe-xs-pull-12 {
    right: 60%
}

.qwe-xs-pull-11 {
    right: 55%
}

.qwe-xs-pull-10 {
    right: 50%
}

.qwe-xs-pull-9 {
    right: 45%
}

.qwe-xs-pull-8 {
    right: 40%
}

.qwe-xs-pull-7 {
    right: 35%
}

.qwe-xs-pull-6 {
    right: 30%
}

.qwe-xs-pull-5 {
    right: 25%
}

.qwe-xs-pull-4 {
    right: 20%
}

.qwe-xs-pull-3 {
    right: 15%
}

.qwe-xs-pull-2 {
    right: 10%
}

.qwe-xs-pull-1 {
    right: 5%
}

.qwe-xs-pull-0 {
    right: auto
}

.qwe-xs-push-20 {
    left: 100%
}

.qwe-xs-push-19 {
    left: 95%
}

.qwe-xs-push-18 {
    left: 90%
}

.qwe-xs-push-17 {
    left: 85%
}

.qwe-xs-push-16 {
    left: 80%
}

.qwe-xs-push-15 {
    left: 75%
}

.qwe-xs-push-14 {
    left: 70%
}

.qwe-xs-push-13 {
    left: 65%
}

.qwe-xs-push-12 {
    left: 60%
}

.qwe-xs-push-11 {
    left: 55%
}

.qwe-xs-push-10 {
    left: 50%
}

.qwe-xs-push-9 {
    left: 45%
}

.qwe-xs-push-8 {
    left: 40%
}

.qwe-xs-push-7 {
    left: 35%
}

.qwe-xs-push-6 {
    left: 30%
}

.qwe-xs-push-5 {
    left: 25%
}

.qwe-xs-push-4 {
    left: 20%
}

.qwe-xs-push-3 {
    left: 15%
}

.qwe-xs-push-2 {
    left: 10%
}

.qwe-xs-push-1 {
    left: 5%
}

.qwe-xs-push-0 {
    left: auto
}

.qwe-xs-offset-20 {
    margin-left: 100%
}

.qwe-xs-offset-19 {
    margin-left: 95%
}

.qwe-xs-offset-18 {
    margin-left: 90%
}

.qwe-xs-offset-17 {
    margin-left: 85%
}

.qwe-xs-offset-16 {
    margin-left: 80%
}

.qwe-xs-offset-15 {
    margin-left: 75%
}

.qwe-xs-offset-14 {
    margin-left: 70%
}

.qwe-xs-offset-13 {
    margin-left: 65%
}

.qwe-xs-offset-12 {
    margin-left: 60%
}

.qwe-xs-offset-11 {
    margin-left: 55%
}

.qwe-xs-offset-10 {
    margin-left: 50%
}

.qwe-xs-offset-9 {
    margin-left: 45%
}

.qwe-xs-offset-8 {
    margin-left: 40%
}

.qwe-xs-offset-7 {
    margin-left: 35%
}

.qwe-xs-offset-6 {
    margin-left: 30%
}

.qwe-xs-offset-5 {
    margin-left: 25%
}

.qwe-xs-offset-4 {
    margin-left: 20%
}

.qwe-xs-offset-3 {
    margin-left: 15%
}

.qwe-xs-offset-2 {
    margin-left: 10%
}

.qwe-xs-offset-1 {
    margin-left: 5%
}

.qwe-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {
    .qwe-sm-1,
    .qwe-sm-2,
    .qwe-sm-3,
    .qwe-sm-4,
    .qwe-sm-5,
    .qwe-sm-6,
    .qwe-sm-7,
    .qwe-sm-8,
    .qwe-sm-9,
    .qwe-sm-10,
    .qwe-sm-11,
    .qwe-sm-12,
    .qwe-sm-13,
    .qwe-sm-14,
    .qwe-sm-15,
    .qwe-sm-16,
    .qwe-sm-17,
    .qwe-sm-18,
    .qwe-sm-19,
    .qwe-sm-20 {
        float: left
    }

    .qwe-sm-20 {
        width: 100%
    }

    .qwe-sm-19 {
        width: 95%
    }

    .qwe-sm-18 {
        width: 90%
    }

    .qwe-sm-17 {
        width: 85%
    }

    .qwe-sm-16 {
        width: 80%
    }

    .qwe-sm-15 {
        width: 75%
    }

    .qwe-sm-14 {
        width: 70%
    }

    .qwe-sm-13 {
        width: 65%
    }

    .qwe-sm-12 {
        width: 60%
    }

    .qwe-sm-11 {
        width: 55%
    }

    .qwe-sm-10 {
        width: 50%
    }

    .qwe-sm-9 {
        width: 45%
    }

    .qwe-sm-8 {
        width: 40%
    }

    .qwe-sm-7 {
        width: 35%
    }

    .qwe-sm-6 {
        width: 30%
    }

    .qwe-sm-5 {
        width: 25%
    }

    .qwe-sm-4 {
        width: 20%
    }

    .qwe-sm-3 {
        width: 15%
    }

    .qwe-sm-2 {
        width: 10%
    }

    .qwe-sm-1 {
        width: 5%
    }

    .qwe-sm-pull-20 {
        right: 100%
    }

    .qwe-sm-pull-19 {
        right: 95%
    }

    .qwe-sm-pull-18 {
        right: 90%
    }

    .qwe-sm-pull-17 {
        right: 85%
    }

    .qwe-sm-pull-16 {
        right: 80%
    }

    .qwe-sm-pull-15 {
        right: 75%
    }

    .qwe-sm-pull-14 {
        right: 70%
    }

    .qwe-sm-pull-13 {
        right: 65%
    }

    .qwe-sm-pull-12 {
        right: 60%
    }

    .qwe-sm-pull-11 {
        right: 55%
    }

    .qwe-sm-pull-10 {
        right: 50%
    }

    .qwe-sm-pull-9 {
        right: 45%
    }

    .qwe-sm-pull-8 {
        right: 40%
    }

    .qwe-sm-pull-7 {
        right: 35%
    }

    .qwe-sm-pull-6 {
        right: 30%
    }

    .qwe-sm-pull-5 {
        right: 25%
    }

    .qwe-sm-pull-4 {
        right: 20%
    }

    .qwe-sm-pull-3 {
        right: 15%
    }

    .qwe-sm-pull-2 {
        right: 10%
    }

    .qwe-sm-pull-1 {
        right: 5%
    }

    .qwe-sm-pull-0 {
        right: auto
    }

    .qwe-sm-push-20 {
        left: 100%
    }

    .qwe-sm-push-19 {
        left: 95%
    }

    .qwe-sm-push-18 {
        left: 90%
    }

    .qwe-sm-push-17 {
        left: 85%
    }

    .qwe-sm-push-16 {
        left: 80%
    }

    .qwe-sm-push-15 {
        left: 75%
    }

    .qwe-sm-push-14 {
        left: 70%
    }

    .qwe-sm-push-13 {
        left: 65%
    }

    .qwe-sm-push-12 {
        left: 60%
    }

    .qwe-sm-push-11 {
        left: 55%
    }

    .qwe-sm-push-10 {
        left: 50%
    }

    .qwe-sm-push-9 {
        left: 45%
    }

    .qwe-sm-push-8 {
        left: 40%
    }

    .qwe-sm-push-7 {
        left: 35%
    }

    .qwe-sm-push-6 {
        left: 30%
    }

    .qwe-sm-push-5 {
        left: 25%
    }

    .qwe-sm-push-4 {
        left: 20%
    }

    .qwe-sm-push-3 {
        left: 15%
    }

    .qwe-sm-push-2 {
        left: 10%
    }

    .qwe-sm-push-1 {
        left: 5%
    }

    .qwe-sm-push-0 {
        left: auto
    }

    .qwe-sm-offset-20 {
        margin-left: 100%
    }

    .qwe-sm-offset-19 {
        margin-left: 95%
    }

    .qwe-sm-offset-18 {
        margin-left: 90%
    }

    .qwe-sm-offset-17 {
        margin-left: 85%
    }

    .qwe-sm-offset-16 {
        margin-left: 80%
    }

    .qwe-sm-offset-15 {
        margin-left: 75%
    }

    .qwe-sm-offset-14 {
        margin-left: 70%
    }

    .qwe-sm-offset-13 {
        margin-left: 65%
    }

    .qwe-sm-offset-12 {
        margin-left: 60%
    }

    .qwe-sm-offset-11 {
        margin-left: 55%
    }

    .qwe-sm-offset-10 {
        margin-left: 50%
    }

    .qwe-sm-offset-9 {
        margin-left: 45%
    }

    .qwe-sm-offset-8 {
        margin-left: 40%
    }

    .qwe-sm-offset-7 {
        margin-left: 35%
    }

    .qwe-sm-offset-6 {
        margin-left: 30%
    }

    .qwe-sm-offset-5 {
        margin-left: 25%
    }

    .qwe-sm-offset-4 {
        margin-left: 20%
    }

    .qwe-sm-offset-3 {
        margin-left: 15%
    }

    .qwe-sm-offset-2 {
        margin-left: 10%
    }

    .qwe-sm-offset-1 {
        margin-left: 5%
    }

    .qwe-sm-offset-0 {
        margin-left: 0
    }

}

@media (min-width:992px) {
    .qwe-md-1,
    .qwe-md-2,
    .qwe-md-3,
    .qwe-md-4,
    .qwe-md-5,
    .qwe-md-6,
    .qwe-md-7,
    .qwe-md-8,
    .qwe-md-9,
    .qwe-md-10,
    .qwe-md-11,
    .qwe-md-12,
    .qwe-md-13,
    .qwe-md-14,
    .qwe-md-15,
    .qwe-md-16,
    .qwe-md-17,
    .qwe-md-18,
    .qwe-md-19,
    .qwe-md-20 {
        float: left
    }

    .qwe-md-20 {
        width: 100%
    }

    .qwe-md-19 {
        width: 95%
    }

    .qwe-md-18 {
        width: 90%
    }

    .qwe-md-17 {
        width: 85%
    }

    .qwe-md-16 {
        width: 80%
    }

    .qwe-md-15 {
        width: 75%
    }

    .qwe-md-14 {
        width: 70%
    }

    .qwe-md-13 {
        width: 65%
    }

    .qwe-md-12 {
        width: 60%
    }

    .qwe-md-11 {
        width: 55%
    }

    .qwe-md-10 {
        width: 50%
    }

    .qwe-md-9 {
        width: 45%
    }

    .qwe-md-8 {
        width: 40%
    }

    .qwe-md-7 {
        width: 35%
    }

    .qwe-md-6 {
        width: 30%
    }

    .qwe-md-5 {
        width: 25%
    }

    .qwe-md-4 {
        width: 20%
    }

    .qwe-md-3 {
        width: 15%
    }

    .qwe-md-2 {
        width: 10%
    }

    .qwe-md-1 {
        width: 5%
    }

    .qwe-md-pull-20 {
        right: 100%
    }

    .qwe-md-pull-19 {
        right: 95%
    }

    .qwe-md-pull-18 {
        right: 90%
    }

    .qwe-md-pull-17 {
        right: 85%
    }

    .qwe-md-pull-16 {
        right: 80%
    }

    .qwe-md-pull-15 {
        right: 75%
    }

    .qwe-md-pull-14 {
        right: 70%
    }

    .qwe-md-pull-13 {
        right: 65%
    }

    .qwe-md-pull-12 {
        right: 60%
    }

    .qwe-md-pull-11 {
        right: 55%
    }

    .qwe-md-pull-10 {
        right: 50%
    }

    .qwe-md-pull-9 {
        right: 45%
    }

    .qwe-md-pull-8 {
        right: 40%
    }

    .qwe-md-pull-7 {
        right: 35%
    }

    .qwe-md-pull-6 {
        right: 30%
    }

    .qwe-md-pull-5 {
        right: 25%
    }

    .qwe-md-pull-4 {
        right: 20%
    }

    .qwe-md-pull-3 {
        right: 15%
    }

    .qwe-md-pull-2 {
        right: 10%
    }

    .qwe-md-pull-1 {
        right: 5%
    }

    .qwe-md-pull-0 {
        right: auto
    }

    .qwe-md-push-20 {
        left: 100%
    }

    .qwe-md-push-19 {
        left: 95%
    }

    .qwe-md-push-18 {
        left: 90%
    }

    .qwe-md-push-17 {
        left: 85%
    }

    .qwe-md-push-16 {
        left: 80%
    }

    .qwe-md-push-15 {
        left: 75%
    }

    .qwe-md-push-14 {
        left: 70%
    }

    .qwe-md-push-13 {
        left: 65%
    }

    .qwe-md-push-12 {
        left: 60%
    }

    .qwe-md-push-11 {
        left: 55%
    }

    .qwe-md-push-10 {
        left: 50%
    }

    .qwe-md-push-9 {
        left: 45%
    }

    .qwe-md-push-8 {
        left: 40%
    }

    .qwe-md-push-7 {
        left: 35%
    }

    .qwe-md-push-6 {
        left: 30%
    }

    .qwe-md-push-5 {
        left: 25%
    }

    .qwe-md-push-4 {
        left: 20%
    }

    .qwe-md-push-3 {
        left: 15%
    }

    .qwe-md-push-2 {
        left: 10%
    }

    .qwe-md-push-1 {
        left: 5%
    }

    .qwe-md-push-0 {
        left: auto
    }

    .qwe-md-offset-20 {
        margin-left: 100%
    }

    .qwe-md-offset-19 {
        margin-left: 95%
    }

    .qwe-md-offset-18 {
        margin-left: 90%
    }

    .qwe-md-offset-17 {
        margin-left: 85%
    }

    .qwe-md-offset-16 {
        margin-left: 80%
    }

    .qwe-md-offset-15 {
        margin-left: 75%
    }

    .qwe-md-offset-14 {
        margin-left: 70%
    }

    .qwe-md-offset-13 {
        margin-left: 65%
    }

    .qwe-md-offset-12 {
        margin-left: 60%
    }

    .qwe-md-offset-11 {
        margin-left: 55%
    }

    .qwe-md-offset-10 {
        margin-left: 50%
    }

    .qwe-md-offset-9 {
        margin-left: 45%
    }

    .qwe-md-offset-8 {
        margin-left: 40%
    }

    .qwe-md-offset-7 {
        margin-left: 35%
    }

    .qwe-md-offset-6 {
        margin-left: 30%
    }

    .qwe-md-offset-5 {
        margin-left: 25%
    }

    .qwe-md-offset-4 {
        margin-left: 20%
    }

    .qwe-md-offset-3 {
        margin-left: 15%
    }

    .qwe-md-offset-2 {
        margin-left: 10%
    }

    .qwe-md-offset-1 {
        margin-left: 5%
    }

    .qwe-md-offset-0 {
        margin-left: 0
    }

}

@media (min-width:1200px) {
    .qwe-lg-1,
    .qwe-lg-2,
    .qwe-lg-3,
    .qwe-lg-4,
    .qwe-lg-5,
    .qwe-lg-6,
    .qwe-lg-7,
    .qwe-lg-8,
    .qwe-lg-9,
    .qwe-lg-10,
    .qwe-lg-11,
    .qwe-lg-12,
    .qwe-lg-13,
    .qwe-lg-14,
    .qwe-lg-15,
    .qwe-lg-16,
    .qwe-lg-17,
    .qwe-lg-18,
    .qwe-lg-19,
    .qwe-lg-20 {
        float: left
    }

    .qwe-lg-20 {
        width: 100%
    }

    .qwe-lg-19 {
        width: 95%
    }

    .qwe-lg-18 {
        width: 90%
    }

    .qwe-lg-17 {
        width: 85%
    }

    .qwe-lg-16 {
        width: 80%
    }

    .qwe-lg-15 {
        width: 75%
    }

    .qwe-lg-14 {
        width: 70%
    }

    .qwe-lg-13 {
        width: 65%
    }

    .qwe-lg-12 {
        width: 60%
    }

    .qwe-lg-11 {
        width: 55%
    }

    .qwe-lg-10 {
        width: 50%
    }

    .qwe-lg-9 {
        width: 45%
    }

    .qwe-lg-8 {
        width: 40%
    }

    .qwe-lg-7 {
        width: 35%
    }

    .qwe-lg-6 {
        width: 30%
    }

    .qwe-lg-5 {
        width: 25%
    }

    .qwe-lg-4 {
        width: 20%
    }

    .qwe-lg-3 {
        width: 15%
    }

    .qwe-lg-2 {
        width: 10%
    }

    .qwe-lg-1 {
        width: 5%
    }

    .qwe-lg-pull-20 {
        right: 100%
    }

    .qwe-lg-pull-19 {
        right: 95%
    }

    .qwe-lg-pull-18 {
        right: 90%
    }

    .qwe-lg-pull-17 {
        right: 85%
    }

    .qwe-lg-pull-16 {
        right: 80%
    }

    .qwe-lg-pull-15 {
        right: 75%
    }

    .qwe-lg-pull-14 {
        right: 70%
    }

    .qwe-lg-pull-13 {
        right: 65%
    }

    .qwe-lg-pull-12 {
        right: 60%
    }

    .qwe-lg-pull-11 {
        right: 55%
    }

    .qwe-lg-pull-10 {
        right: 50%
    }

    .qwe-lg-pull-9 {
        right: 45%
    }

    .qwe-lg-pull-8 {
        right: 40%
    }

    .qwe-lg-pull-7 {
        right: 35%
    }

    .qwe-lg-pull-6 {
        right: 30%
    }

    .qwe-lg-pull-5 {
        right: 25%
    }

    .qwe-lg-pull-4 {
        right: 20%
    }

    .qwe-lg-pull-3 {
        right: 15%
    }

    .qwe-lg-pull-2 {
        right: 10%
    }

    .qwe-lg-pull-1 {
        right: 5%
    }

    .qwe-lg-pull-0 {
        right: auto
    }

    .qwe-lg-push-20 {
        left: 100%
    }

    .qwe-lg-push-19 {
        left: 95%
    }

    .qwe-lg-push-18 {
        left: 90%
    }

    .qwe-lg-push-17 {
        left: 85%
    }

    .qwe-lg-push-16 {
        left: 80%
    }

    .qwe-lg-push-15 {
        left: 75%
    }

    .qwe-lg-push-14 {
        left: 70%
    }

    .qwe-lg-push-13 {
        left: 65%
    }

    .qwe-lg-push-12 {
        left: 60%
    }

    .qwe-lg-push-11 {
        left: 55%
    }

    .qwe-lg-push-10 {
        left: 50%
    }

    .qwe-lg-push-9 {
        left: 45%
    }

    .qwe-lg-push-8 {
        left: 40%
    }

    .qwe-lg-push-7 {
        left: 35%
    }

    .qwe-lg-push-6 {
        left: 30%
    }

    .qwe-lg-push-5 {
        left: 25%
    }

    .qwe-lg-push-4 {
        left: 20%
    }

    .qwe-lg-push-3 {
        left: 15%
    }

    .qwe-lg-push-2 {
        left: 10%
    }

    .qwe-lg-push-1 {
        left: 5%
    }

    .qwe-lg-push-0 {
        left: auto
    }

    .qwe-lg-offset-20 {
        margin-left: 100%
    }

    .qwe-lg-offset-19 {
        margin-left: 95%
    }

    .qwe-lg-offset-18 {
        margin-left: 90%
    }

    .qwe-lg-offset-17 {
        margin-left: 85%
    }

    .qwe-lg-offset-16 {
        margin-left: 80%
    }

    .qwe-lg-offset-15 {
        margin-left: 75%
    }

    .qwe-lg-offset-14 {
        margin-left: 70%
    }

    .qwe-lg-offset-13 {
        margin-left: 65%
    }

    .qwe-lg-offset-12 {
        margin-left: 60%
    }

    .qwe-lg-offset-11 {
        margin-left: 55%
    }

    .qwe-lg-offset-10 {
        margin-left: 50%
    }

    .qwe-lg-offset-9 {
        margin-left: 45%
    }

    .qwe-lg-offset-8 {
        margin-left: 40%
    }

    .qwe-lg-offset-7 {
        margin-left: 35%
    }

    .qwe-lg-offset-6 {
        margin-left: 30%
    }

    .qwe-lg-offset-5 {
        margin-left: 25%
    }

    .qwe-lg-offset-4 {
        margin-left: 20%
    }

    .qwe-lg-offset-3 {
        margin-left: 15%
    }

    .qwe-lg-offset-2 {
        margin-left: 10%
    }

    .qwe-lg-offset-1 {
        margin-left: 5%
    }

    .qwe-lg-offset-0 {
        margin-left: 0
    }

}
.clearfix:before,.clearfix:after,.express:before,.express:after,.express-fluid:before,.express-fluid:after,.sell:before,.sell:after{content:" ";display:table;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
.clearfix:after,.express:after,.express-fluid:after,.sell:after{clear:both}
.util_clearfix:after{visibility:hidden;display:block;height:0;font-size:0;content:'\0020';clear:both}.util_clearfix{zoom:1}
.center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.invisible{visibility:hidden}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.hidden{display:none!important}
.affix{position:fixed}
.center_position{position:absolute;right:0;top:0;left:0;bottom:0;margin:auto}
.rotate_180{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}

/*公用类名*/
.mg_20{margin-top: 20px;}
.view_more_content{    padding-top: 0;
    display: none;
    out-line: none;}
.view_less_content{    padding-top: 0;
    display: block;
    out-line: none;}
.pull-left{ float: left!important; }
.pull-right{ float: right!important; }
.busy_sheet_bg{ background-color: #f7f7f7; padding-bottom: 30px;}

/*sheet_crumbs*/
.sheet_crumbs{height:47px;line-height:47px;}
.crumbs_list>a,.crumbs_list>span{color:#333;font-size:14px;}
.detail_goods_name{ margin-bottom: 20px; }
.crumbs_list>a:hover{color: #bf3666;}
.crumbs_ask_question>a{color:#333;font-size:14px;font-weight:600;}
/*sheet_crumbs end*/

/*sheet_detail*/
.sheet_detail{}
.sheet_detail_box{padding: 20px 20px 50px;background-color: #fff; width: 1200px; box-sizing: border-box;}
.detail_goods_info{ padding-left: 15px;}
.detail_init_img{ width:520px;height:500px;border:1px solid #ddd;overflow:hidden;text-align:center;display:table-cell;vertical-align:middle}
.detail_init_img>img{display: inline-block; border: 0;vertical-align: middle; max-width: 100%; max-height: 100%;}
.pic_list{margin:20px auto 10px;height:86px;width:520px;overflow:hidden;position:relative}
.prev{position:absolute;left:0;top:0;height:86px;width:14px;background:#eee;cursor:pointer;z-index:10}
.next{position:absolute;right:0;top:0;height:86px;width:14px;background:#eee;cursor:pointer;z-index:10}
.ul_pic{height:86px;position:absolute;top:0;left:25px}
.li_pic{height:86px;width:86px;border:1px solid #ccc;margin-right:10px;float:left;overflow:hidden}
.div_pic{height:85px;width:86px;display:table-cell;vertical-align:middle;text-align:center}
.li_pic img{display:inline-block;border:0;cursor:pointer;max-height:80px;max-width:80px}
.prev_arrow{position:absolute;left:0;top:35px;display:block;width:14px;height:22px;}
.next_arrow{position:absolute;left:0;top:35px;display:block;width:14px;height:22px;}
.bg-next { width: 11px; height: 20px;  background: url(../images/sprites-img.png) -5px -5px;}
.bg-prev { width: 12px; height: 22px;  background: url(../images/sprites-img.png) -22px -5px;}




.share_ioc .share_title{ margin: 12px 0px 0 0; }
.share_list{margin:8px 0 0 5px;}
.share_list_icon>i{  display: block;float: left;width:25px;height:25px;margin-right: 5px;background-image: url(../images/hene_icon1.png);background-repeat: no-repeat;}
.share_list_icon:nth-child(1) i{background-position-x: 0;}
.share_list_icon:nth-child(2) i{background-position-x: -32px;}
.share_list_icon:nth-child(3) i{background-position-x: -63px;}
.share_list_icon:nth-child(4) i{background-position-x: -94px;}
.share_list_icon:nth-child(5) i{background-position-x: -125px;}
.share_list_icon:hover>i{background-image: url(../images/hene_icon2.png);}
.share_list_icon:nth-child(1):hover i{background-position-x: 0;}
.share_list_icon:nth-child(2):hover i{background-position-x: -32px;}
.share_list_icon:nth-child(3):hover i{background-position-x: -63px;}
.share_list_icon:nth-child(4):hover i{background-position-x: -94px;}
.share_list_icon:nth-child(5):hover i{background-position-x: -125px;}
.share_change{ margin: 10px 0 0 0px; background-color: #ededed; padding:4px 8px; }
.share_angle::before{ position: absolute;  display:inline-block;content:' ';width:12px;height:12px;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);border-top:none;border-right:none; background-color:#ededed;top:7px;left: -6px;}
.share_link{ color: #01a4ef; }
.share_link:hover{ text-decoration: underline;color: #01a4ef; }
.goods_info_top h2{background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 9px 0 9px 20px;}
.interval_box{padding-left: 20px;    background-color: #505050;}
.interval_item{float: left; width: 33.33%; height: 100px;position: relative;}
.interval_price{font-size: 24px;
    color: #fff;
    font-weight: 600;    margin-top: 17px;
    margin-bottom: 15px;}
.interval_price em{    font-weight: 600;}
.interval_unit{font-size: 18px;
    color: #fff;}
.interval_unit i{    font-style: normal;}
.goods_style_init{margin-top: 20px;}
.p_init_title{width: 106px;color:#999999;font-size:16px;font-weight: 400;
    float: left;
    text-align: left;
    line-height: 14px;
    word-wrap: break-word;}
.ul_sku_list{    margin-left: 110px;
    min-height: 30px;}
.ul_sku_list li{    float: left;
    list-style: none;
    margin: 0 10px 5px 0;}
.ul_sku_list li a{    float: left;
    border: 1px solid #CFCFCF;
    width:72px;
    line-height: 36px;
    height: 38px;
    color: #333;
    border-radius: 2px;
    background-color:#E7E7E7;
    text-align: center;}
.ul_sku_list li a:hover{border:1px solid #000;background-color:#fff;}
.ul_sku_list li a span{color: #282828;
    font-size: 12px;
    font-weight: 600;}
li.sheet_active a{border:1px solid #000;background-color:#fff;}
li.sheet_active a span{color:#000;}
li.n_active a,li.n_active a:hover{border:1px solid #F2F2F2;background-color:#F2F2F2;}
li.n_active a span{color:#DADADA;font-weight:400;}
.ul_style_list{margin-left: 110px;
    min-height: 30px;}

.style_li{    display: block;
    float: left; width: 100%;
    border-bottom: 1px dashed #ececec;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: default;}
.goods_style_img{    float: left;
    width: 44px;
    height: 44px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;    border-radius: 2px;
    border: 1px solid #CFCFCF;}
.goods_style_img>img{    max-width: 42px;
    width: 42px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);}
.style_div{    width: 150px;
    float: right;
    /* overflow: hidden; */
    /* width: 120px; */
    height: 100%;
    position: relative;}
.style_box{    display: inline-block;
    width: 150px;
    height: 33px;
    border: 1px solid #CFCFCF;
    position: absolute;border-radius:2px;}
.style_box em{    font-size: 14px;
    color: #666;text-align:center;cursor: pointer;}
.style_box em:hover{border-color:#000;}
.minus_style{display: inline-block;
    width: 33px;
    height: 33px;line-height: 24px;
    border: 1px solid #CFCFCF;
    position: absolute;
    top: -1px;
    left: -1px;border-radius: 2px 0 0 2px;}
.minus_style i{display:inline-block;width:10px;height:2px;background-color: #CFCFCF;}
.minus_style:hover i{background-color:#000;}
.guide_style{    display: inline-block;
    position: absolute;
    top: 0;
    left: 34px;
    width: 80px;
    text-align: center;
    height: 100%;
    border: none;
    font-size: 16px;
    color:#8B8B8B;
    outline: none;}
.plus_style{    display: inline-block;
    width: 35px;
    height:33px;line-height: 26px;
    position: absolute;
    top: -1px;
    right: -1px;border: 1px solid #CFCFCF;
    cursor: pointer;    border-radius: 0 2px 2px 0;}
.plus_style i{display:inline-block;width:10px;height:2px;background-color: #CFCFCF;position: relative;}
.plus_style i:after{background-color: #CFCFCF;
    content: "";width: 2px;
    height: 10px;
    position: absolute;
    top: -4px;left: 4px;}
.plus_style:hover i,.plus_style:hover i:after{
    background-color:#000;
}

.style_span{    position: absolute;
    bottom: -20px;
    left: 200px;
    cursor: pointer;
    width: 50px;
    height: 20px;
    border: 1px solid #ececec;
    border-top: 1px solid #fff;}
.product_triangle{display: inline-block;width: 10px;
    height: 5px;background-image: url(../images/busy_sell.png);background-repeat: no-repeat;background-position:-255px -29px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;}

.goods_style_moq{margin-left: 110px;
    height: 40px;
    line-height: 40px;
    background: #f9f9f9;
    margin-top: 25px;
    padding: 0 14px;
    position: relative;
    border-bottom: 1px solid #d1d1d1;}
.goods_style_moq span{    color: #666;
    font-size: 14px;}
.goods_style_moq i{    font-style: normal;}
.goods_style_btn{margin-left: 110px;}
.goods_style_btn a{    display: inline-block;
    vertical-align: top;}
.add_style_car{    font-weight: 600;
    color: #fff;
    font-size: 18px;    max-height: 50px;
    padding: 13px 90px;background-color: #000;border-radius:2px;}
.add_style_car:hover{ color: #fff; }

.add_style_collection{    width: 50px;
    height: 50px;    line-height: 50px;
    text-align: center;
    border: 1px solid #D1D1D1;    margin-left: 7px;
    border-radius: 2px;}
.add_style_collection i{display: inline-block;width: 20px;
    height: 16px;    margin-bottom: -2px;background-image: url(https://img1.import-express.com/importcsvimg/webpic/img/wh89/busysell/busy_sell.png);background-repeat: no-repeat;background-position:-236px -108px;}
.add_style_collection:hover{border-color:#000;background-position:-236px -108px;}
.info_standard{margin-top:15px;}
.goods_info_bottom .p_init_title{padding-top: 3px;}
.info_standard dd{margin-left:110px;    line-height: 16px;}
.a_coupon_box{    display: inline-block;
    height: 30px;
    line-height: 30px;    padding:0 12px;
    border: 1px dashed #E02A2A;
    border-radius: 4px;}
.a_coupon_box>span{font-size:14px;color:#E02A2A;vertical-align: top;}
.get_coupon_btn{font-size:14px;font-weight:600;color:#E02A2A;margin-left: 7px;vertical-align: top;    cursor: pointer;}
.get_coupon_btn>i{display: inline-block;width: 12px;
    height: 7px;    margin-bottom: 3px;
    margin-left: 6px;background-image: url(https://img1.import-express.com/importcsvimg/webpic/img/wh89/busysell/busy_sell.png);background-repeat: no-repeat;background-position:-236px -66px;}
.em_coupon_price{font-size:20px;font-weight:600;color:#E02A2A;    margin-right: 4px;}

/*sheet_detail end*/

/*sheet_detail_main*/
.sheet_detail_main{padding: 0;}
.detail_bar_list{width: 100%;margin-bottom: 20px;  padding:15px 0 20px 20px;    background-color: #fff;  box-sizing: border-box;  }
.detail_main_bar{border-bottom: 1px solid #ECECEC;}
.tab_item{    float: left;  margin-right: 100px; background: #fff;border-bottom: 6px solid #fff;
    }
.bar_active{border-color:#000;}
.tab_item:hover{border-color:#000;}
.tab_item a{display: inline-block;font-size:20px;    font-weight: 600;color:#000;    padding-bottom: 17px;}

.detail_bar_box{}
.bar_content{width:100%; margin: 20px auto;}
/*origin_introduction*/
.origin_introduction{margin-top: -20px;padding: 0 30px;background-color:#fff;}
.origin_introduction li{float: left;width: 40%;    color: #000;
    font-size: 14px;
    line-height: 24px;}

/*related_products*/
.related_products{    background-color: #fff;}
.related_products_ico{    text-align: center;
    height: 55px;
    line-height: 55px;
    position: relative;}
.related_tit{display:inline-block;font-size: 20px;color: #333;font-weight:bold;}
.related_more{right: 12px;
    position: absolute;
    font-size: 16px;
    color: #333;}
.related_products_box{    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;}
.related_products_list{width: 3497px;
    display: block;
    position: absolute;
    left: 0;
    overflow: hidden;}
.related_deal{width: 1166px;margin: 0 auto;}
.related_cont{width: 100%;height: 280px;overflow: hidden;position:relative;}
.related_time_box{width:100%;height: 66px;}
.related_time{display:inline-block;margin-left:15px;float: left;padding: 0 8px;height: 23px;line-height: 23px;font-size: 16px;font-weight: 700;-webkit-transform: skew(-10deg);-moz-transform: skew(-10deg);-o-transform: skew(-10deg);transform: skew(-10deg);background: #ee1b2e;color: #fff;text-align: center;border-radius: 2px;    margin-top: 30px;}
.related_cont_list{width: 3497px;display: block;position: absolute;left: 0;overflow: hidden;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 1px solid #ececec;}
.related_cont_item{float: left;position: relative;width: 240px;height: 280px;background: #fff;}
.related_link{display:block;width:100%;height:100%;position: relative}
.related_img{position: absolute;left:0;top:10px;right:0;margin:auto;width:220px;height:220px;background: #fff url(../images/ajax.gif) no-repeat center center;min-width:30%;}
.related_bottom_price{position: absolute;left:0;bottom:0;height:50px;line-height:50px;width:100%;}
.related_real{display:block;text-align:center;width:100%;}
.related_real i{font-size:18px;color:#333;font-style:normal;}
.related_left,.related_right{position:absolute;display:inline-block;width:30px;margin-top:105px;height:70px;background: #000;opacity: 0.3;filter: alpha(opacity=30);z-index:110;}
.related_left{left:0;}
.related_right{right: 0;}
.related_left span{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:15px;height:28px;background:url(../images/business-left.png);}
.related_right span{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:15px;height:28px;background:url(../images/business-right.png);}
.related_left:hover,.related_right:hover{opacity:0.5;filter:alpha(opacity=50);}

/*sheet_detail_main end*/

/*detail_img_origin*/
.detail_img_origin img{max-width: 100%;}
/*detail_img_origin end*/

/*question_answer*/
.question_answer{background-color:#fff;padding: 0 30px 30px;}
.question_answer>h1{height:53px;line-height: 53px;text-align: left;font-size:18px;font-weight:600;color:#333;    border-bottom: 1px solid #ECECEC;}
.question_answer_list{}
.question_answer_list li{    border-bottom: 1px solid #ECECEC;}
.question_top{padding: 20px 0;}
.question_left_icon,.answer_left_icon{    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    float: left;
    border-radius: 24px;
    margin-left: 20px;
    background-color: #666;}
.question_left_icon i,.answer_left_icon i{    font-style: normal;
    font-size: 24px;
    color: #fff;}
.question_right_content{    margin-left: 95px;}
.question_name_time,.answer_name_time{height: 22px;line-height: 22px;}
.question_name,.answer_name{float: left;
    font-size: 16px;
    color: #000;}
.question_time,.answer_time{    float: right;
    font-size: 12px;
    color: #A7A7A7;}
.question_detail_content,.answer_detail_content{    color: #444444;
    font-size: 14px;
    margin-top: 8px;}
.answer_bottom{    margin-left: 95px;
    padding: 20px 0;
    border-top: 1px dashed #ECECEC;}
.answer_left_icon{margin-left: 0;
background-color: #000;}
.answer_right_content{    margin-left: 75px;}
.input_question_box{background-color: #F4F4F4;
    padding: 20px 30px;}
.input_question_box textarea{ display: inline-block; width: 100%; min-height: 100px; padding: 10px; border:1px solid #d1d1d1; outline: none; resize: none;}
.input_question_box button{color: #fff; font-size: 14px; padding: 13px 35px; margin-top: 5px; background-color: #000; border: none;}
/*question_answer end*/

/*business_inquiries*/
.business_inquiries{padding: 20px 0 40px;
    background-color: #fff;}
.inquiries_tip{    padding: 0 30px;}
.inquiries_tip h1{    color: #22211F;
    font-size: 18px;
    font-weight: 600;
    height: 57px;
    line-height: 57px;
    border-bottom: 1px solid #ccc;}
.inquiries_box{padding: 0 30px;}
.inquiries_left h3,.inquiries_right h3{color: #22211F;
    font-size: 16px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 6px;}
.inquiries_group label{    display: block;
    color: #22211F;
    line-height: 17px;
    padding-top: 17px;
    padding-bottom: 9px;}
.inquiries_group input{    width: 86%; height: 40px;  border:1px solid #c6c6c6;}
.inquiries_ask{display: inline-block; color: #fff; font-size: 16px;  padding: 12px 114px; border-radius: 2px; background-color: #000; margin-top: 30px;}
.inquiries_ask:hover{ color: #fff; }
.inquiries_right{padding-right: 36px;}
.inquiries_right h3{display: inline-block;}
.inquiries_right>a{color: #333;
    font-size: 14px;
    float: right;
    padding-top: 16px;
    padding-bottom: 6px;}
.inquiries_right>a:hover{ color: #bf3666; text-decoration: underline; }

.packaging_img{    padding-top: 20px;}
.packaging_img img{max-width:100%;width: auto;}

/*business_inquiries end*/

/*hot_selling*/
.hot_selling{background-color:#fff;}
.selling_products_ico{text-align:center;height:55px;line-height:55px;position:relative;}
.selling_tit{display:inline-block;font-size:20px;color:#333;font-weight:bold;}
.selling_products_box{width:100%;height:280px;overflow:hidden;position:relative;}
.selling_products_list{width:3497px;display:block;position:absolute;left:0;overflow:hidden;}
.selling_deal{width: 1166px;margin: 0 auto;}
.selling_cont{width: 100%;height: 280px;overflow: hidden;position:relative;}
.selling_time_box{width:100%;height: 66px;}
.selling_time{display:inline-block;margin-left:15px;float: left;padding: 0 8px;height: 23px;line-height: 23px;font-size: 16px;font-weight: 700;-webkit-transform: skew(-10deg);-moz-transform: skew(-10deg);-o-transform: skew(-10deg);transform: skew(-10deg);background: #ee1b2e;color: #fff;text-align: center;border-radius: 2px;    margin-top: 30px;}
.selling_cont_list{width: 3497px;display: block;position: absolute;left: 0;overflow: hidden;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 1px solid #ececec;}
.selling_cont_item{float: left;position: relative;width: 240px;height: 280px;background: #fff;}
.selling_link{display:block;width:100%;height:100%;position: relative}
.selling_img{position: absolute;left:0;top:10px;right:0;margin:auto;width:220px;height:220px;background: #fff url(../images/ajax.gif) no-repeat center center;min-width:30%;}
.selling_bottom_price{position: absolute;left:0;bottom:0;height:50px;line-height:50px;width:100%;}
.selling_real{display:block;text-align:center;width:100%;}
.selling_real i{font-size:18px;color:#333;font-style:normal;}
.selling_left,.selling_right{position:absolute;display:inline-block;width:30px;margin-top:105px;height:70px;background: #000;opacity: 0.3;filter: alpha(opacity=30);z-index:110;}
.selling_left{left:0;}
.selling_right{right: 0;}
.selling_left span{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:15px;height:28px;background:url(../images/business-left.png);}
.selling_right span{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:15px;height:28px;background:url(../images/business-right.png);}
.selling_left:hover,.selling_right:hover{opacity:0.5;filter:alpha(opacity=50);}

/*hot_selling end*/

/*Recently Viewed*/
.recently_viewed{background-color:#fff;}
.viewed_products_ico{text-align:center;height:55px;line-height:55px;position:relative;}
.viewed_tit{display:inline-block;font-size:20px;color:#333;font-weight:bold;text-transform:uppercase;}
.viewed_products_box{width:100%;height:280px;overflow:hidden;position:relative;}
.viewed_products_list{width:3497px;display:block;position:absolute;left:0;overflow:hidden;}
.viewed_deal{width: 1166px;margin: 0 auto;}
.viewed_cont{width: 100%;height: 280px;overflow: hidden;position:relative;}
.viewed_time_box{width:100%;height: 66px;}
.viewed_time{display:inline-block;margin-left:15px;float: left;padding: 0 8px;height: 23px;line-height: 23px;font-size: 16px;font-weight: 700;-webkit-transform: skew(-10deg);-moz-transform: skew(-10deg);-o-transform: skew(-10deg);transform: skew(-10deg);background: #ee1b2e;color: #fff;text-align: center;border-radius: 2px;    margin-top: 30px;}
.viewed_cont_list{width: 3497px;display: block;position: absolute;left: 0;overflow: hidden;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 1px solid #ececec;}
.viewed_cont_item{float: left;position: relative;width: 240px;height: 280px;background: #fff;}
.viewed_link{display:block;width:100%;height:100%;position: relative}
.viewed_img{position: absolute;left:0;top:10px;right:0;margin:auto;width:220px;height:220px;background: #fff url(../images/ajax.gif) no-repeat center center;min-width:30%;}
.viewed_bottom_price{position: absolute;left:0;bottom:0;height:50px;line-height:50px;width:100%;}
.viewed_real{display:block;text-align:center;width:100%;}
.viewed_real i{font-size:18px;color:#333;font-style:normal;}
.viewed_left,.viewed_right{position:absolute;display:inline-block;width:30px;margin-top:105px;height:70px;background: #000;opacity: 0.3;filter: alpha(opacity=30);z-index:110;}
.viewed_left{left:0;}
.viewed_right{right: 0;}
.viewed_left span{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:15px;height:28px;background:url(../images/business-left.png);}
.viewed_right span{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:15px;height:28px;background:url(../images/business-right.png);}
.viewed_left:hover,.viewed_right:hover{opacity:0.5;filter:alpha(opacity=50);}
/*Recently Viewed end*/










